export PGDATABASE=goma_dev
export DATABASE_URL="postgres://postgres:postgres@localhost/goma_dev?sslmode=disable"
export GOOSE_MIGRATION_DIR=db/migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="$DATABASE_URL"
