export PGDATABASE=goma_dev
export DATABASE_URL="postgres://postgres:postgres@localhost/goma_dev?sslmode=disable"
export GOOSE_MIGRATION_DIR=db/migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="$DATABASE_URL"
export TEST_DATABASE_NAME=goma_test
export TEST_DATABASE_URL="postgres://postgres:postgres@localhost/${TEST_DATABASE_NAME}?sslmode=disable"
